:root[color-theme="dark"] {
    --header-background: #1d1d1d;
    --header-font-color: #00ff00;

    --link-color: #59ff6a;
    --link-color-visited: #6bcbf1;

    --background-color: #343a40;
    --accent-color: #ffffff;

    --code-background: #2a2727;
    --code-font-color: #fdfdfd;

    --body-font-color: #ffffff;

    --footer-background: #2f333e;
    --footer-font-color: #ffffff;
    --link-color-footer: #6bcbf1;
    --footer-link-color: #6bcbf1;
    --footer-link-color-visited: #6bcbf1;

    --heading-color: #ffffff;
}

blockquote {
    background-color: #303030;
    width: 90%;
    margin-left: 10px !important;
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/materialicons/v139/flUhRq6tzZclQEJ-Vdg-IuiaDsNcIhQ8tQ.woff2) format('woff2');
}

@font-face {
  font-family: 'Courier Prime';
  src: url(/fonts/courierprime-regular.woff2) format('woff2');
}

.admonition-icon::before {
    position: absolute;
    font-size: 1.25rem;
    font-family: 'Material Icons';
    margin-left: -1.5rem;
}

.admonition {
    font-style: normal;
    padding: 0.5rem 0.5rem 0.5rem 2rem;
    border: 3px solid transparent;
    border-radius: 2px;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

.warning {
    background-color: #fbe9e7;
    border-left-color: #a52714;
    color: #a52714;
}

.warning .admonition-icon::before {
    content: "warning";
}

.gblog-toc, .gblog-toc ul {
    font-weight: bold;
    list-style-type: none;
    margin-top: 2em;
    padding: 0;
}

a:hover {
    background: inherit !important;
}

.gblog-brand__title {
    margin-top: -15px;
    line-height: 0em;
    font-size: 3rem;
    font-weight: 400;
    font-family: 'Courier Prime', 'Courier', monospace;
}

a.gblog-header__link:hover {
    text-decoration: none;
    color: var(--header-font-color);
}

.gblog-post__meta {
    justify-content: space-between;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
    color: var(--heading-color);
    align-items: unset;
}

code {
    overflow-x: auto;
    font-size: 0.9em !important;
}

h1>code, h2>code, h3>code, h4>code, h5>code, h6>code {
    border-top: none !important;
    padding: 0.1em 0.3em !important;
    margin-left: 0.3em;
    margin-right: 0.3em;
}

/* Generic Prompt */
.chroma .gp {
    color: #999999 !important;
    font-weight: bold;
}

/* Generic Output */
.chroma .go {
    color: #bcc2c7 !important;
}

/* macOS hides scrollbars by default, so we need to style it ourselves */

::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 9px;
    height: 9px;
}

::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: #555555;
}

::-webkit-scrollbar-track {
    border-radius: 4px;
    background-color: #777777;
}
